In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:


# Reading the training dataset
train = pd.read_csv(r"C:\Users\sahga\OneDrive\Desktop\train.csv")

# Reading the test dataset
test = pd.read_csv(r"C:\Users\sahga\OneDrive\Desktop\test.csv")

C:\Users\sahga\AppData\Local\Temp\ipykernel_6888\1900040848.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(r"C:\Users\sahga\OneDrive\Desktop\train.csv")

In [13]:
train.head()

,Id,County,Province_State,Country_Region,Population,Weight,Date,Target,TargetValue
0,1,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-23,ConfirmedCases,0
1,2,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-23,Fatalities,0
2,3,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-24,ConfirmedCases,0
3,4,NaN,NaN,Afghanistan,27657145,0.583587,2020-01-24,Fatalities,0
4,5,NaN,NaN,Afghanistan,27657145,0.058359,2020-01-25,ConfirmedCases,0

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969640 entries, 0 to 969639
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              969640 non-null  int64
 1   County          880040 non-null  object
 2   Province_State  917280 non-null  object
 3   Country_Region  969640 non-null  object
 4   Population      969640 non-null  int64
 5   Weight          969640 non-null  float64
 6   Date            969640 non-null  object
 7   Target          969640 non-null  object
 8   TargetValue     969640 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 66.6+ MB

In [15]:
# Checking for null values
train.isnull().sum()

Id                    0
County            89600
Province_State    52360
Country_Region        0
Population            0
Weight                0
Date                  0
Target                0
TargetValue           0
dtype: int64

In [16]:
# Checking for null values
test.isnull().sum()

ForecastId            0
County            28800
Province_State    16830
Country_Region        0
Population            0
Weight                0
Date                  0
Target                0
dtype: int64

In [17]:
train.describe()

                  Id    Population         Weight    TargetValue
count  969640.000000  9.696400e+05  969640.000000  969640.000000
mean   484820.500000  2.720127e+06       0.530870      12.563518
std    279911.101846  3.477771e+07       0.451909     302.524795
min         1.000000  8.600000e+01       0.047491  -10034.000000
25%    242410.750000  1.213300e+04       0.096838       0.000000
50%    484820.500000  3.053100e+04       0.349413       0.000000
75%    727230.250000  1.056120e+05       0.968379       0.000000
max    969640.000000  1.395773e+09       2.239186   36163.000000

In [18]:
test.describe()

          ForecastId    Population         Weight
count  311670.000000  3.116700e+05  311670.000000
mean   155835.500000  2.720127e+06       0.530870
std     89971.523537  3.477775e+07       0.451910
min         1.000000  8.600000e+01       0.047491
25%     77918.250000  1.213300e+04       0.096838
50%    155835.500000  3.053100e+04       0.349413
75%    233752.750000  1.056120e+05       0.968379
max    311670.000000  1.395773e+09       2.239186

In [19]:
# Checking for unique values
train.nunique()

Id                969640
County              1840
Province_State       133
Country_Region       187
Population          3408
Weight              6816
Date                 140
Target                 2
TargetValue         2603
dtype: int64

In [20]:
# Checking for unique values
test.nunique()

ForecastId        311670
County              1840
Province_State       133
Country_Region       187
Population          3408
Weight              6816
Date                  45
Target                 2
dtype: int64

In [21]:
# dropping the columns with more than 50% null values
train.drop(['County'], axis=1, inplace=True)
train.drop(['Province_State'], axis=1, inplace=True)

In [22]:
# Create two new columns based on conditions
train.loc[train['Target'] == 'ConfirmedCases', 'ConfirmedCases'] = train['TargetValue']  
train.loc[train['Target'] == 'Fatalities', 'Fatalities'] = train['TargetValue']

# Drop the 'Target' and 'TargetValue' columns
train = train.drop(['Target', 'TargetValue'], axis=1)

In [23]:
# now fill the null values in ConfirmedCases and Fatalities columns with 0
train['ConfirmedCases'].fillna(0, inplace=True)
train['Fatalities'].fillna(0, inplace=True)

In [24]:
train[train['ConfirmedCases']<0]

,Id,Country_Region,Population,Weight,Date,ConfirmedCases,Fatalities
2402,2403,Australia,426709,0.077138,2020-04-13,-1.0,0.0
2722,2723,Australia,8089526,0.062869,2020-05-03,-2.0,0.0
2768,2769,Australia,8089526,0.062869,2020-05-26,-3.0,0.0
2790,2791,Australia,8089526,0.062869,2020-06-06,-1.0,0.0
2886,2887,Australia,245869,0.080564,2020-03-06,-1.0,0.0
...,...,...,...,...,...,...,...
965942,965943,United Kingdom,33140,0.096075,2020-05-13,-1.0,0.0
966700,966701,United Kingdom,31458,0.096558,2020-04-02,-1.0,0.0
967076,967077,United Kingdom,65110000,0.055582,2020-05-20,-525.0,0.0
967280,967281,Uruguay,3480222,0.066390,2020-04-12,-21.0,0.0
969560,969561,Zimbabwe,14240168,0.060711,2020-05-02,-6.0,0.0

In [25]:
# train['Date'] = pd.to_datetime(train['Date'])

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 969640 entries, 0 to 969639
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Id              969640 non-null  int64
 1   Country_Region  969640 non-null  object
 2   Population      969640 non-null  int64
 3   Weight          969640 non-null  float64
 4   Date            969640 non-null  object
 5   ConfirmedCases  969640 non-null  float64
 6   Fatalities      969640 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 51.8+ MB

In [27]:
# A.
# Group the data by country and find the sum of confirmed cases
confirmed_cases = train.groupby('Country_Region')['ConfirmedCases'].sum().sort_values(ascending=False).to_frame()

In [28]:
confirmed_cases

                  ConfirmedCases
Country_Region
US                     5979962.0
Brazil                  772416.0
Russia                  493023.0
United Kingdom          291588.0
India                   276583.0
...                          ...
Holy See                    12.0
Seychelles                  11.0
Western Sahara               9.0
MS Zaandam                   9.0
Papua New Guinea             8.0

[187 rows x 1 columns]

In [29]:
# B.
# Group the data by country and find the sum of fatalities
fatalities = train.groupby('Country_Region')['Fatalities'].sum().sort_values(ascending=False).to_frame()

In [30]:
fatalities

                                  Fatalities
Country_Region
US                                  337252.0
United Kingdom                       41213.0
Brazil                               39680.0
Italy                                34114.0
France                               29322.0
...                                      ...
Saint Kitts and Nevis                    0.0
Saint Lucia                              0.0
Saint Vincent and the Grenadines         0.0
Laos                                     0.0
Mongolia                                 0.0

[187 rows x 1 columns]

In [31]:
# C.
# Group the data by country and find the sum negative values of confirmed cases
confirmed_cases_negative = train[train['ConfirmedCases']<0].groupby('Country_Region')['ConfirmedCases'].sum().sort_values(ascending=True).to_frame()

In [32]:
confirmed_cases_negative

                ConfirmedCases
Country_Region
US                    -11932.0
Spain                 -10406.0
France                 -9283.0
Ecuador                -3113.0
United Kingdom          -527.0
Japan                   -470.0
Benin                   -209.0
Portugal                -161.0
Lithuania               -105.0
Uganda                  -105.0
Uruguay                  -21.0
Honduras                 -20.0
Australia                -19.0
Canada                   -15.0
Guyana                   -15.0
San Marino                -9.0
Madagascar                -7.0
China                     -7.0
Zimbabwe                  -6.0
Mauritius                 -2.0
New Zealand               -2.0
Nepal                     -1.0

In [33]:
# Create a new dataframe with only the required columns
train_new = train[['Country_Region', 'Date', 'ConfirmedCases', 'Fatalities']]
train_new.head()

  Country_Region        Date  ConfirmedCases  Fatalities
0    Afghanistan  2020-01-23             0.0         0.0
1    Afghanistan  2020-01-23             0.0         0.0
2    Afghanistan  2020-01-24             0.0         0.0
3    Afghanistan  2020-01-24             0.0         0.0
4    Afghanistan  2020-01-25             0.0         0.0

In [34]:
# Convert the 'Date' column to datetime format
train_new['Date'] = pd.to_datetime(train_new['Date'])

C:\Users\sahga\AppData\Local\Temp\ipykernel_6888\2375226369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_new['Date'] = pd.to_datetime(train_new['Date'])

In [35]:
# Encode the 'Country_Region' column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_new['Country_Region'] = le.fit_transform(train_new['Country_Region'])

train_new.head()

C:\Users\sahga\AppData\Local\Temp\ipykernel_6888\115886783.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_new['Country_Region'] = le.fit_transform(train_new['Country_Region'])

   Country_Region       Date  ConfirmedCases  Fatalities
0               0 2020-01-23             0.0         0.0
1               0 2020-01-23             0.0         0.0
2               0 2020-01-24             0.0         0.0
3               0 2020-01-24             0.0         0.0
4               0 2020-01-25             0.0         0.0

In [36]:
# Split the data into independent 'X' and dependent 'Y' variables
X = train_new.drop(['ConfirmedCases', 'Fatalities'], axis=1)
Y = train_new[['ConfirmedCases', 'Fatalities']]

# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)